@import url('https://fonts.googleapis.com/css2?family=Arima+Madurai:wght@200;400;700&display=swap');
body {
  font-family: "Arima Madurai";
}

.bars {
  display: flex;
  height: 240px;
  align-items: end;
}
.bars > * {
  width: 20px;
  background: green;
}
.divvy {
  display: flex;
  height: 20px;
  width: 240px;
}
.divvy > * {
  background: gray;
}
.divvy > :nth-child(1) {
  background: red;
}
.divvy > :nth-child(2n) {
  background: green;
}
.divvy > :nth-child(4n) {
  background: yellow;
}

#title {
  width: 100%;
  position: absolute;
  bottom: calc(52% + 1em);
  text-align: center;
  z-index: 100;
  font-weight: normal;
}
#title > .title {
  font-weight: bold;
  font-size: 120%;
  line-height: 1;
  transition: color 0.2s;
}
#title > .title:hover {
  color: #5aa6d7;
}
#title > .title > a {
  color: inherit;
}
#title > a {
  font-weight: lighter;
  color: #f9bfdb;
  transition: color 0.2s;
}
#title > a:hover {
  color: #e23589;
}
a[href] {
  color: pink;
  text-decoration: none;
}
#status, #help {
  width: 100%;
  position: absolute;
  top: calc(48% - 1em);
  z-index: 100;
  text-align: center;
}
#help {
  width: 80%;
  left: 10%;
  border: 1px solid white;
  box-sizing: border-box;
  background: inherit;
}
#controls {
  position: absolute;
  display: flex;
  z-index: 100;
  pointer-events: none;
  width: 100%;
  justify-content: space-between;
}
#controls > * {
  pointer-events: all;
  background: linear-gradient(#00002a, transparent);
}

.scene {
  width: 100vw;
  height: 100vh;
  position: relative;
  overflow: hidden;
}
.scene > section {
  width: 20%;
  height: 100%;
  display: inline-block;
  position: relative;
}

.chord {
  cursor: pointer;
  border: none;
  --padding: 15px;
  margin-top: calc(-1 * var(--padding));
  padding-top: var(--padding);
  padding-bottom: 200px;
  opacity: 20%;
  transition: opacity 0.2s;
  overflow: visible;
}
.chord:hover {
  opacity: 80%;
}
.chord::after {
  content: '';
  position: absolute;
  top: calc(var(--padding) + 4px);
  width: 100%;
  border-bottom: 2px solid #fffa;
}
.chord::before {
  content: attr(data-chord-name);
  position: absolute;
  top: calc(var(--padding) - 9px);
  left: 0.3em;
  font-family: sans-serif;
}
